body {
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
header {
    background-color: #50cc8a;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}
nav {
    background-color: #44ad75;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #50cc8a;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.card {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.btn {
    background-color: #50cc8a;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}
.btn:hover {
    background-color: #44ad75;
}
footer {
    background-color: #50cc8a;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.locations-section {
    background-color: #50cc8a;
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 20px;
    border-radius: 35px;
    color: white;
    Font-size:40px;
 p{ text-align: center;
 word-spacing: 265px;
 color: #000000;
 Font-size: 35px;
 padding-top: 0px;
}
       .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px; 
            margin-bottom: 20px;

        }

        /* Form Element Styles for Larger Appearance */
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%; 
            padding: 15px; 
            margin: 10px 0; /* Space between form elements */
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #44ad75;
            color: white;
            padding: 20px;
            border-radius: 5px;
            font-size: 18px;
            display: block;
            margin: 20px auto;
        }

        input[type="submit"]:hover {
            background-color: #50cc8a;
        }

        label {
            font-size: 18px;
            display: block;
            margin-bottom: 5px;
        }